body {
  padding: 0;
  margin: 0;

  background-color: #fff;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
}

.bottom_word {
  position: relative;
  padding-bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;

  color: #999;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1rem;
}

.fpbottom_word {
  position: relative;
  margin-top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;

  color: #999;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1rem;
}

.frontPage_content {
  position: relative;
  width: 60vw;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  padding: 2%;
}

.header {
  position: relative;
  width: 100%;
}

.title {
  background-color: #00b1c3;
  text-align: center;
  padding: 10px;
}

.title a {
  color: #fff;
  text-decoration: none;
}

.headtitle {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 2px;
}

.secondtitle {
  font-size: 1.8rem;
  font-weight: 500;
}

.intro {
  padding: 2% 10% 2% 10%;

  border-width: 1px;
  border-color: #00b1c3;
  border-style: solid;
  border-radius: 0 0 20px 20px;

  text-align: center;
  line-height: 160%;
  font-size: 1.2rem;
}

.btnbox {
  position: relative;
  width: 100%;
  padding-top: 5%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  body::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .frontPage_content {
    width: 90vw;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    padding: 5%;
  }

  .headtitle {
    letter-spacing: 1px;
    font-size: 1.7rem;
  }

  .secondtitle {
    font-size: 1rem;
  }

  .intro {
    border-radius: 0 0 20px 20px;
    font-size: 1rem;
  }

  
}
