.chapterbtn {
  width: 30%;

  border-width: 1px;
  border-color: #333;
  border-style: solid;
  border-radius: 10px;

  padding: 2%;
  text-align: center;

  margin-bottom: 4%;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.chapterbtn:hover {
  border-width: 2px;
  border-color: #00b1c3;
}

.chapterbtn a {
  font-size: 1rem;
  font-weight: 900;
}

.chapterbtn:active a {
  color: #00b1c3;
}

.checkicon {
  position: relative;
  width: 18px;
  height: 18px;
  top: 25%;
  transform: translateY(-50%);

  margin-right: 2%;
  background-image: url("data:image/svg+xml,<svg viewBox='278.15 135.72 44 47' fill='rgba(77,77,77,1)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M 300.1499938964844 137.7200012207031 C 311.1956787109375 137.7200012207031 320.1499938964844 146.6743011474609 320.1499938964844 157.7200012207031 C 320.1499938964844 168.7657012939453 311.1956787109375 177.7200012207031 300.1499938964844 177.7200012207031 C 289.1043090820312 177.7200012207031 280.1499938964844 168.7657012939453 280.1499938964844 157.7200012207031 C 280.1499938964844 146.6743011474609 289.1043090820312 137.7200012207031 300.1499938964844 137.7200012207031 M 300.1499938964844 135.7200012207031 C 287.9997253417969 135.7200012207031 278.1499938964844 145.5697326660156 278.1499938964844 157.7200012207031 C 278.1499938964844 169.8702697753906 287.9997253417969 179.7200012207031 300.1499938964844 179.7200012207031 C 312.3002624511719 179.7200012207031 322.1499938964844 169.8702697753906 322.1499938964844 157.7200012207031 C 322.1499938964844 145.5697326660156 312.3002624511719 135.7200012207031 300.1499938964844 135.7200012207031 Z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
}

.chapterbtn:active .bi {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0.001 44 47' fill='rgba(0,177,195,1)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M 22 0.001000000047497451 C 9.848999977111816 0.001000000047497451 0 9.850000381469727 0 22 C 0 34.1510009765625 9.848999977111816 44 22 44 C 34.15000152587891 44 44 34.1510009765625 44 22 C 44 9.850000381469727 34.15000152587891 0.001000000047497451 22 0.001000000047497451 M 19.17700004577637 31.89800071716309 L 12.04300022125244 23.87199974060059 L 14.28499984741211 21.87800025939941 L 19.15200042724609 27.35300064086914 L 31.2819995880127 13.39200019836426 L 33.54700088500977 15.35900020599365 L 19.17700004577637 31.89800071716309 Z' clip-rule='evenodd'/></svg>");
}

@media (max-width: 1000px) {
  .checkicon {
    top: 30%;
  }

  .chapterbtn:hover a {
    color: #00b1c3;
  }

  .chapterbtn:hover .bi {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0.001 44 47' fill='rgba(0,177,195,1)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M 22 0.001000000047497451 C 9.848999977111816 0.001000000047497451 0 9.850000381469727 0 22 C 0 34.1510009765625 9.848999977111816 44 22 44 C 34.15000152587891 44 44 34.1510009765625 44 22 C 44 9.850000381469727 34.15000152587891 0.001000000047497451 22 0.001000000047497451 M 19.17700004577637 31.89800071716309 L 12.04300022125244 23.87199974060059 L 14.28499984741211 21.87800025939941 L 19.15200042724609 27.35300064086914 L 31.2819995880127 13.39200019836426 L 33.54700088500977 15.35900020599365 L 19.17700004577637 31.89800071716309 Z' clip-rule='evenodd'/></svg>");
  }

}

@media (max-width: 500px) {
  .chapterbtn {
    width: 100%;
    border-radius: 5px;
    padding: 6%;
  }

  .chapterbtn a {
    font-size: 1rem;
  }
  .checkicon {
    top: 30%;
    width: 1rem;
    height: 1rem;
  }

  .chapterbtn:hover a {
    color: #00b1c3;
  }

  .chapterbtn:hover .bi {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0.001 44 47' fill='rgba(0,177,195,1)' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M 22 0.001000000047497451 C 9.848999977111816 0.001000000047497451 0 9.850000381469727 0 22 C 0 34.1510009765625 9.848999977111816 44 22 44 C 34.15000152587891 44 44 34.1510009765625 44 22 C 44 9.850000381469727 34.15000152587891 0.001000000047497451 22 0.001000000047497451 M 19.17700004577637 31.89800071716309 L 12.04300022125244 23.87199974060059 L 14.28499984741211 21.87800025939941 L 19.15200042724609 27.35300064086914 L 31.2819995880127 13.39200019836426 L 33.54700088500977 15.35900020599365 L 19.17700004577637 31.89800071716309 Z' clip-rule='evenodd'/></svg>");
  }
}
